.DS_Store
book/_build
book/.ipynb_checkpoints/*
*-checkpoint.ipynb
*-checkpoint.py
*-checkpoint.png
book/1-start/.ipynb_checkpoints/*
book/3-scientific/examples/fig-currents/mycurrents.gif
book/3-scientific/examples/temp/*
book/3-scientific/examples/__pycache__/*
book/3-scientific/examples/.ipynb_checkpoints/*
book/4-pandas/.ipynb_checkpoints/*
book/4-pandas/temp/*
book/4-pandas/examples/temp/*
book/4-pandas/examples/.ipynb_checkpoints/*
book/5-xarray/.ipynb_checkpoints/*
book/5-xarray/examples/.ipynb_checkpoints/*
book/6-addson/.ipynb_checkpoints/*
book/6-addson/dask-worker-space/
book/6-addson/mydask.png
book/6-addson/CurrentParticles.nc
book/6-addson/CurrentParticlesDist.nc
book/6-addson/CurrentParticlesTemp.nc
